//////color
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-grey: #eaeaea;
$color-text:#353535;
$gradient-primary: linear-gradient(160deg, #ec73da, #eb71dd, #e96de6, #da68e6, #c563e3, #b15ee0, #a35add, #9d59dc);
$gradient-transition-btn:linear-gradient(0deg, rgba(204,163,254,1) 0%, rgba(0,212,255,0) 100%);

///////font
$title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;

$font-bold:700;
$font-regular:400;
$font-light:300;


////shadow
$shadow-light:rgba(0, 0, 0, 0.23) 0px 5px 10px;
$shadow-md:rgba(0, 0, 0, 0.35) 0px 1px 15px;
$shadow-lg: rgb(38, 57, 77) 0px 12px 30px -10px;

//radius
$radius-sm: 3px;
$radius-md: 12px;
$radius-lg: 35px;


//padding
$section-padding:50px 20px 50px 20px;