header{
    position: relative;
    background: $colour-white;
    box-shadow: $shadow-md;
    display: flex;
    align-items: center;
    height: 62px;
}

.arrow-back{
    padding: 0 20px;
    color: $color-text;
    font-size: 1.2rem;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: block;
}