button{
    background-color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;
}

.btn-primary{
    position: relative;
    border-radius: $radius-lg;
    background:$gradient-primary;
    box-shadow: $shadow-light;
    padding: 0.9rem 2.8rem;
    color: $colour-white;
    overflow: hidden;
    transition:box-shadow .15s ease-in-out;
    font-weight: $font-regular;
    .text{
        position: relative;
        z-index: 2;
    }

    .gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index:1;
        transform: translateY(100%);
        transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        background:$gradient-transition-btn;
    }
    &:hover,&:focus{
        box-shadow:$shadow-lg;
        .gradient{
            transform: translateY(0);
        }
    }
}

//btn-like
.btn-like{
    position: relative;
    margin-left: auto;
    z-index: 1;
    width: 23px;
    height: 20px;
    .full{
        opacity: 0;
        transition: all 0.2s linear;
    }
    &:hover,&:focus{
        .full{
            opacity: 1;
        }
    }
}
.full,.empty{
    position: absolute;
    top: 0;
    left: 0;
}


